
body{
background-color: #1c1515 !important;
/*    #1c1515*/
overflow: hidden;
}

.col{
    display: flex;
    justify-content: center;
}

.type{
    font-family: 'Playfair', sans-serif;
    display: flex;
    justify-content: space-evenly !important;
    color: rosybrown;
    /* font-size: 155%; */
    transform: translate(0%, 10%);
    font-weight: bolder !important;
    /* font-style: italic; */
    padding: .85%;
    font-size: x-large;
    background-image: linear-gradient(70deg, rgb(219, 200, 200) 25%, rgb(140, 82, 82));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}
.type:hover{
    cursor: default
}
.type::selection{
    user-select: none;
}

.row{
    display: flex;
    justify-content: center;
}

.shop{
    max-width: 100% !important;
    max-height: 100% !important;
    scale: 95%;
    z-index: 0;
    object-fit:contain;
}

.shopone{
    max-width: 40% !important;
    max-height: 100% !important;
    padding-top: 1%;
    z-index: 0;
    transform: translate(-75%);
}

.accordion-flush{
    z-index: 1;
    width: 45% !important;
    transform: translate(-65%, 15%);    
    max-height: 80%;
    
}


.accordion-button{
    font-family: 'Green Screen', sans-serif;
    font-size: 70% !important;
    color: white !important;
    text-shadow: -0px -2px #7399d5 !important;
    font-weight: bold;
}

.accordion-button, .accordion-item{
    background-color: #b4d6f6 !important; 
    outline: #7fb6e2 solid 6px;
    /* outline: #030303 solid 6.5px; */
    user-select: none;
    text-align:start;
    }

.accordion-button::selection{
    user-select: none;

}

.accordion-body{
    color: white;
    font-family: 'Green Screen', sans-serif;
    font-weight:600;
    font-size: 400;
    text-shadow: -0px -1px #7399d5 !important;

}

.accordion-item::selection{
    user-select: text !important;

}


.colon{
    font-size: larger;
}

.contact{
    color: #a2175b !important;
    font-weight: bold!important;
    font-size: larger;
    text-shadow: #4a3031 -0px -.25px !important;
    user-select: text !important;
}



.resume{
    color: #a2175b !important;
    font-weight: bold!important;
    font-size: larger;
    text-shadow: #4a3031 -0px -.25px !important;
    user-select: none !important;
}

.shopheader{
    transform: translate(0%, 10%) !important;
    color: white;
    font-family: 'Green Screen', sans-serif;
    font-size: 150% !important;
    color: white !important;
    text-shadow: -0px -2px #7399d5 !important;
    font-size: bold;
}
