button.accordion-button,
div.accordion-body {
    color: #fff;
    font-family: 'Green Screen', sans-serif
}

button.accordion-button,
div.accordion-body,
p.shopheader {
    font-family: 'Green Screen', sans-serif
}

html body {
    background-color: #1c1515;
    overflow:scroll;
    overflow-x: scroll;
}

.col,
.row {
    display: flex;
    justify-content: center
}

.type {
    font-family: Playfair, sans-serif;
    display: flex;
    justify-content: space-evenly;
    color: #bc8f8f;
    transform: translate(0, 10%);
    font-weight: bolder;
    padding: .85%;
    font-size: 2vw;
    background-image: linear-gradient(70deg, #dbc8c8 25%, #8c5252);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent
}

.type:hover {
    cursor: default
}

.type::selection {
    user-select: none
}

img.shop {
    max-width: 100%;
    max-height: 100%;
    scale: 95%;
    z-index: 0;
    object-fit: contain
}

div.accordion {
    width: 45%;
}

div.shopone {
    max-width: 40%;
    max-height: 100%;
    padding-top: 1%;
    z-index: 0;
    transform: translate(-75%)
}

div.accordion-flush {
    z-index: 1;
    width: 45%;
    transform: translate(-65%, 15%);
    margin-left: 10px;
}

button.accordion-button {
    text-shadow: 0 -2px #7399d5;
    font-weight: 700;
    font-size: 1vmax;

}

button.accordion-button,
div.accordion-item {
    background-color: #b4d6f6;
    outline: #7fb6e2 solid 6px;
    user-select: none;
    text-align: start;
}


button.accordion-button::selection {
    user-select: none;
    color: #fff
}

div.accordion-body {
    font-weight: 600;
    font-size: 1vmax;

}

button.collapsed,
button.name {
    color: #fff !important
}

a.contact,
a.resume,
p.contact {
    color: #a2175b;
    font-weight: 700;
    font-size: 1.2vmax;
}

p.colon {
    font-size: 1.1vmax
}

a.contact,
p.contact {
    user-select: text
}

a.resume {
    user-select: none
}

p.shopheader {
    transform: translate(0, 10%);
    font-size: 1.5vmax;
    color: #fff;
}

body::-webkit-scrollbar{
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body::-webkit-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 